@charset "UTF 8";
@font-face {
  font-family: "textos";
  src: url("../_fonts/GothamBook.ttf");
}
* {
  box-sizing: border-box;
}
input, textarea{
outline: none;
border: none;
font-family: "textos";
color: rgb(148, 148, 148);
background-color: rgb(34, 34, 34);
}

input{
   height: 4vh;
   width: 18vw;
}
.forms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  margin-left: 5rem;
  
}

#mensagem {
  color: white;
  font-family: "textos";
  border: none;
  margin-right: 5rem;
  background-color: black;
  padding: 15px;
  border-radius: 15px;
  
}

#calculadora{
    color: white;
    font-family: "textos";
    border: none;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
   
}

legend{
    background-color: rgb(1, 9, 32);
    padding: 15px;
    border-bottom-right-radius: 25px;

}

@media screen {
    
}