@charset "UTF 8";
@font-face {
    font-family: 'textos';
    src: url("../projeto-playstation-vr/_fonts/GothamLight.ttf");
}

p {
    font-family: 'textos', sans-serif;
}

div#videoseaudios video {
    width: 500px;
    right: 500px;
    padding: 6px;
    margin-left: 25px;
    margin-right: auto;
    background-color: rgb(0, 52, 110);
    border-radius: 25px;
}

div#videoseaudios video#filme {
    margin-top: 25px;
}